{% extends "base.html" %}

{% block announce %}
Welcome to <strong>Cloask | Return</strong> Home
{% endblock %}

{% block content %}
{{ super() }}

{% if config.extra.music %}
<link rel="stylesheet" href="{{ 'assets/stylesheets/music.css' | url }}">

{% if page.meta.music %}
<iframe class="music" frameborder="no" marginwidth="0" marginheight="0"
  src="//music.163.com/outchain/player?type=2&id={{ page.meta.music }}&auto=0&height=86">
</iframe>
{% else %}
<iframe class="music" frameborder="no" marginwidth="0" marginheight="0"
  src="//music.163.com/outchain/player?type=0&id={{ config.extra.music }}&auto=0&height=430">
</iframe>
{% endif %}
{% endif %}

{% endblock %}


{% block scripts %}
<!-- Add scripts that need to run before here -->
{{ super() }}
<!-- Add scripts that need to run afterwards here -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3907145727941275"
  crossorigin="anonymous"></script>
{% endblock %}