.music {
    height: 86px;
    width: 86px;
    position: fixed;
    bottom: 15%;
    right: 0;
    border: 0;
    transition: width .8s ease, height .8s ease;
    z-index: 9999;
}

.music:hover {
    width: 330px;
    height: 450px;
}
